.dropdown {
  width: 100%;
}
.dropdown > select {
  width: 350px;
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid darkblue;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
